<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image">

                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{operacion}} Alumno</h1>
                        </div>
                        <form class="user" [formGroup]="form" (ngSubmit)="addAlumno()">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="alumno_codigo" type="text"
                                        class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Código de estudiante">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <button type="button" (click)="getDataAlumno()"
                                        class="btn btn-primary btn-user btn-block">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="alumno_primerApellido" type="text"
                                        class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Primer Apellido">
                                </div>
                                <div class="col-sm-6">
                                    <input formControlName="alumno_segundoApellido" type="text"
                                        class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Segundo Apellido">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input formControlName="alumno_nombres" type="text"
                                        class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Nombres">
                                </div>
                                <div class="col-sm-6">
                                    <input formControlName="alumno_dni" type="text"
                                        class="form-control form-control-user" id="exampleLastName" placeholder="DNI">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input formControlName="alumno_telefono" type="text"
                                        class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Teléfono">
                                </div>
                            </div>
                            <div class="form-group">
                                <input formControlName="alumno_correoElectronico" type="email"
                                    class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Correo institucional">
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Registrar
                            </button>
                            <a href="/alumnos" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-fw"></i> Cancelar
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>