<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Alumnos</h1>
    <p class="mb-4">Product</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3  d-flex">
            <button type="button" (click)="addAlumno()" class="btn btn-dark">Agregar Auto</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let alumno of listAlumnos">
                            <td>{{alumno.marca}}</td>
                            <td>{{alumno.modelo}}</td>
                            <td>{{alumno.anio}}</td>
                            <td>{{alumno.estado}}</td>
                            <td>
                                <div class="">
                                    <button (click)="updateAlumno(alumno.id || 0)" type="button"
                                        class="btn btn-warning btn-sm">
                                        <i class="fas fa-pen"></i>
                                    </button>

                                    <button (click)="deleteAlumno(alumno.id!)" type="button"
                                        class="btn btn-danger btn-sm ml-1">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->